openapi: 3.1.0
info:
  title: Whop API
  description: >-
    The Whop REST API. Please see
    https://docs.whop.com/developer/api/getting-started for more details.
  termsOfService: https://whop.com/tos-developer-api/
  version: 1.0.0
servers:
  - url: https://api.whop.com/api/v1
    description: Production Whop API
paths:
  /products:
    get:
      tags:
        - Products
      operationId: listProduct
      summary: List products
      description: >-
        Returns a paginated list of products belonging to a company, with
        optional filtering by type, visibility, and creation date.


        Required permissions:
         - `access_pass:basic:read`
      parameters:
        - name: after
          in: query
          required: false
          schema:
            type:
              - string
              - 'null'
            description: >-
              Returns the elements in the list that come after the specified
              cursor.
          explode: true
          style: form
        - name: before
          in: query
          required: false
          schema:
            type:
              - string
              - 'null'
            description: >-
              Returns the elements in the list that come before the specified
              cursor.
          explode: true
          style: form
        - name: first
          in: query
          required: false
          schema:
            type:
              - integer
              - 'null'
            description: Returns the first _n_ elements from the list.
            example: 42
          explode: true
          style: form
        - name: last
          in: query
          required: false
          schema:
            type:
              - integer
              - 'null'
            description: Returns the last _n_ elements from the list.
            example: 42
          explode: true
          style: form
        - name: company_id
          in: query
          required: true
          schema:
            type: string
            description: The unique identifier of the company to list products for.
            example: biz_xxxxxxxxxxxxxx
          explode: true
          style: form
        - name: product_types
          in: query
          required: false
          schema:
            type:
              - array
              - 'null'
            items:
              $ref: '#/components/schemas/AccessPassTypes'
            description: Filter to only products matching these type classifications.
          explode: true
          style: form
        - name: visibilities
          in: query
          required: false
          schema:
            type:
              - array
              - 'null'
            items:
              $ref: '#/components/schemas/VisibilityFilter'
            description: Filter to only products matching these visibility states.
          explode: true
          style: form
        - name: order
          in: query
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/AccessPassOrder'
              - type: 'null'
            description: The field to sort results by. Defaults to created_at.
          explode: true
          style: form
        - name: direction
          in: query
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/Direction'
              - type: 'null'
            description: The sort direction for results. Defaults to descending.
          explode: true
          style: form
        - name: created_before
          in: query
          required: false
          schema:
            type:
              - string
              - 'null'
            format: date-time
            description: Only return products created before this timestamp.
            example: '2023-12-01T05:00:00.401Z'
          explode: true
          style: form
        - name: created_after
          in: query
          required: false
          schema:
            type:
              - string
              - 'null'
            format: date-time
            description: Only return products created after this timestamp.
            example: '2023-12-01T05:00:00.401Z'
          explode: true
          style: form
      x-group-title: Payins
      security:
        - bearerAuth:
            - access_pass:basic:read
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductListItem'
                    description: A list of nodes.
                  page_info:
                    $ref: '#/components/schemas/PageInfo'
                    description: Information to aid in pagination.
                required:
                  - data
                  - page_info
                description: The connection type for PublicAccessPass.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: invalid_request_error
                  code: parameter_invalid
                  message: Invalid request parameters.
                  param: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: unauthorized
                  message: Invalid or missing API key
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: forbidden
                  message: You do not have permission to access this resource
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: not_found
                  message: Resource not found
        '422':
          description: Verification required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: verification_required
                  message: Verification is required to complete this request
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: internal_server_error
                  message: An unexpected error occurred
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import Whop from '@whop/sdk';


            const client = new Whop({
              apiKey: process.env['WHOP_API_KEY'], // This is the default and can be omitted
            });


            // Automatically fetches more pages as needed.

            for await (const productListItem of client.products.list({
            company_id: 'biz_xxxxxxxxxxxxxx' })) {
              console.log(productListItem.id);
            }
        - lang: Python
          source: |-
            import os
            from whop_sdk import Whop

            client = Whop(
                api_key=os.environ.get("WHOP_API_KEY"),  # This is the default and can be omitted
            )
            page = client.products.list(
                company_id="biz_xxxxxxxxxxxxxx",
            )
            page = page.data[0]
            print(page.id)
        - lang: Ruby
          source: |-
            require "whop_sdk"

            whop = WhopSDK::Client.new(api_key: "My API Key")

            page = whop.products.list(company_id: "biz_xxxxxxxxxxxxxx")

            puts(page)
    post:
      tags:
        - Products
      operationId: createProduct
      summary: Create product
      description: >-
        Create a new product for a company. The product serves as the top-level
        container for plans and experiences.


        Required permissions:
         - `access_pass:create`
         - `access_pass:basic:read`
      parameters: []
      x-group-title: Payins
      security:
        - bearerAuth:
            - access_pass:create
            - access_pass:basic:read
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: invalid_request_error
                  code: parameter_invalid
                  message: Invalid request parameters.
                  param: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: unauthorized
                  message: Invalid or missing API key
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: forbidden
                  message: You do not have permission to access this resource
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: not_found
                  message: Resource not found
        '422':
          description: Verification required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: verification_required
                  message: Verification is required to complete this request
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: internal_server_error
                  message: An unexpected error occurred
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                collect_shipping_address:
                  type:
                    - boolean
                    - 'null'
                  description: >-
                    Whether the checkout flow collects a shipping address from
                    the customer.
                company_id:
                  type: string
                  description: >-
                    The unique identifier of the company to create this product
                    for.
                  example: biz_xxxxxxxxxxxxxx
                custom_cta:
                  oneOf:
                    - $ref: '#/components/schemas/CustomCtas'
                    - type: 'null'
                  description: >-
                    The call-to-action button label displayed on the product's
                    purchase page (e.g., join, buy, subscribe).
                custom_cta_url:
                  type:
                    - string
                    - 'null'
                  description: >-
                    A URL that the call-to-action button links to instead of the
                    default checkout flow.
                custom_statement_descriptor:
                  type:
                    - string
                    - 'null'
                  description: >-
                    A custom text label that appears on the customer's bank
                    statement. Must be 5-22 characters, contain at least one
                    letter, and not contain <, >, \, ', or " characters.
                description:
                  type:
                    - string
                    - 'null'
                  description: >-
                    A written description of the product displayed on its
                    product page.
                experience_ids:
                  type:
                    - array
                    - 'null'
                  items:
                    type: string
                    description: >-
                      Represents a unique identifier that is Base64 obfuscated.
                      It is often used to refetch an object or as key for a
                      cache. The ID type appears in a JSON response as a String;
                      however, it is not intended to be human-readable. When
                      expected as an input type, any string (such as
                      `"VXNlci0xMA=="`) or integer (such as `4`) input value
                      will be accepted as an ID.
                  description: >-
                    The unique identifiers of experiences to connect to this
                    product.
                global_affiliate_percentage:
                  type:
                    - number
                    - 'null'
                  description: >-
                    The commission rate as a percentage that affiliates earn
                    through the global affiliate program.
                  example: 6.9
                global_affiliate_status:
                  oneOf:
                    - $ref: '#/components/schemas/GlobalAffiliateStatuses'
                    - type: 'null'
                  description: >-
                    The enrollment status of this product in the global
                    affiliate program.
                headline:
                  type:
                    - string
                    - 'null'
                  description: >-
                    A short marketing headline displayed prominently on the
                    product page.
                member_affiliate_percentage:
                  type:
                    - number
                    - 'null'
                  description: >-
                    The commission rate as a percentage that members earn
                    through the member affiliate program.
                  example: 6.9
                member_affiliate_status:
                  oneOf:
                    - $ref: '#/components/schemas/GlobalAffiliateStatuses'
                    - type: 'null'
                  description: >-
                    The enrollment status of this product in the member
                    affiliate program.
                plan_options:
                  type:
                    - object
                    - 'null'
                  properties:
                    base_currency:
                      oneOf:
                        - $ref: '#/components/schemas/Currencies'
                        - type: 'null'
                      description: The respective currency identifier for the plan.
                    billing_period:
                      type:
                        - integer
                        - 'null'
                      description: The interval at which the plan charges (renewal plans).
                      example: 42
                    custom_fields:
                      type:
                        - array
                        - 'null'
                      items:
                        type: object
                        properties:
                          field_type:
                            $ref: '#/components/schemas/CustomFieldTypes'
                            description: The type of the custom field.
                          id:
                            type:
                              - string
                              - 'null'
                            description: The ID of the custom field (if being updated)
                          name:
                            type: string
                            description: The name of the custom field.
                          order:
                            type:
                              - integer
                              - 'null'
                            description: The order of the field.
                            example: 42
                          placeholder:
                            type:
                              - string
                              - 'null'
                            description: The placeholder value of the field.
                          required:
                            type:
                              - boolean
                              - 'null'
                            description: Whether or not the field is required.
                        required:
                          - field_type
                          - name
                      description: An array of custom field objects.
                    initial_price:
                      type:
                        - number
                        - 'null'
                      description: >-
                        An additional amount charged upon first purchase.
                        Provided as a number in the specified currency. Eg:
                        10.43 for $10.43 USD.
                      example: 6.9
                    plan_type:
                      oneOf:
                        - $ref: '#/components/schemas/PlanTypes'
                        - type: 'null'
                      description: >-
                        Indicates if the plan is a one time payment or
                        recurring.
                    release_method:
                      oneOf:
                        - $ref: '#/components/schemas/ReleaseMethod'
                        - type: 'null'
                      description: The method by which the plan is released to the public.
                    renewal_price:
                      type:
                        - number
                        - 'null'
                      description: >-
                        The amount the customer is charged every billing period.
                        Provided as a number in the specified currency. Eg:
                        10.43 for $10.43 USD.
                      example: 6.9
                    visibility:
                      oneOf:
                        - $ref: '#/components/schemas/Visibility'
                        - type: 'null'
                      description: The visibility of the plan.
                  required: []
                  description: >-
                    Configuration for an automatically generated plan to attach
                    to this product.
                product_tax_code_id:
                  type:
                    - string
                    - 'null'
                  description: >-
                    The unique identifier of the tax classification code to
                    apply to this product.
                  example: ptc_xxxxxxxxxxxxxx
                redirect_purchase_url:
                  type:
                    - string
                    - 'null'
                  description: >-
                    A URL to redirect the customer to after completing a
                    purchase.
                route:
                  type:
                    - string
                    - 'null'
                  description: The URL slug for the product's public link.
                send_welcome_message:
                  type:
                    - boolean
                    - 'null'
                  description: >-
                    Whether to send an automated welcome message via support
                    chat when a user joins this product. Defaults to true.
                title:
                  type: string
                  description: The display name of the product. Maximum 80 characters.
                visibility:
                  oneOf:
                    - $ref: '#/components/schemas/Visibility'
                    - type: 'null'
                  description: >-
                    Whether the product is visible to customers. When set to
                    hidden, the product is only accessible via direct link.
              required:
                - company_id
                - title
              description: Parameters for CreateAccessPass
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import Whop from '@whop/sdk';


            const client = new Whop({
              apiKey: process.env['WHOP_API_KEY'], // This is the default and can be omitted
            });


            const product = await client.products.create({ company_id:
            'biz_xxxxxxxxxxxxxx', title: 'title' });


            console.log(product.id);
        - lang: Python
          source: |-
            import os
            from whop_sdk import Whop

            client = Whop(
                api_key=os.environ.get("WHOP_API_KEY"),  # This is the default and can be omitted
            )
            product = client.products.create(
                company_id="biz_xxxxxxxxxxxxxx",
                title="title",
            )
            print(product.id)
        - lang: Ruby
          source: >-
            require "whop_sdk"


            whop = WhopSDK::Client.new(api_key: "My API Key")


            product = whop.products.create(company_id: "biz_xxxxxxxxxxxxxx",
            title: "title")


            puts(product)
  /products/{id}:
    get:
      tags:
        - Products
      operationId: retrieveProduct
      summary: Retrieve product
      description: |-
        Retrieves the details of an existing product.

        Required permissions:
         - `access_pass:basic:read`
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier or route slug of the product.
          schema:
            type: string
            example: prod_xxxxxxxxxxxxx
      x-group-title: Payins
      security:
        - bearerAuth:
            - access_pass:basic:read
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: invalid_request_error
                  code: parameter_invalid
                  message: Invalid request parameters.
                  param: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: unauthorized
                  message: Invalid or missing API key
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: forbidden
                  message: You do not have permission to access this resource
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: not_found
                  message: Resource not found
        '422':
          description: Verification required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: verification_required
                  message: Verification is required to complete this request
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: internal_server_error
                  message: An unexpected error occurred
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import Whop from '@whop/sdk';


            const client = new Whop({
              apiKey: process.env['WHOP_API_KEY'], // This is the default and can be omitted
            });


            const product = await
            client.products.retrieve('prod_xxxxxxxxxxxxx');


            console.log(product.id);
        - lang: Python
          source: |-
            import os
            from whop_sdk import Whop

            client = Whop(
                api_key=os.environ.get("WHOP_API_KEY"),  # This is the default and can be omitted
            )
            product = client.products.retrieve(
                "prod_xxxxxxxxxxxxx",
            )
            print(product.id)
        - lang: Ruby
          source: |-
            require "whop_sdk"

            whop = WhopSDK::Client.new(api_key: "My API Key")

            product = whop.products.retrieve("prod_xxxxxxxxxxxxx")

            puts(product)
    patch:
      tags:
        - Products
      operationId: updateProduct
      summary: Update product
      description: |-
        Update a product's title, description, visibility, and other settings.

        Required permissions:
         - `access_pass:update`
         - `access_pass:basic:read`
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier of the product to update.
          schema:
            type: string
            example: prod_xxxxxxxxxxxxx
      x-group-title: Payins
      security:
        - bearerAuth:
            - access_pass:update
            - access_pass:basic:read
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: invalid_request_error
                  code: parameter_invalid
                  message: Invalid request parameters.
                  param: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: unauthorized
                  message: Invalid or missing API key
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: forbidden
                  message: You do not have permission to access this resource
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: not_found
                  message: Resource not found
        '422':
          description: Verification required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: verification_required
                  message: Verification is required to complete this request
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: internal_server_error
                  message: An unexpected error occurred
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                collect_shipping_address:
                  type:
                    - boolean
                    - 'null'
                  description: >-
                    Whether the checkout flow collects a shipping address from
                    the customer.
                custom_cta:
                  oneOf:
                    - $ref: '#/components/schemas/CustomCtas'
                    - type: 'null'
                  description: >-
                    The call-to-action button label displayed on the product's
                    purchase page (e.g., join, buy, subscribe).
                custom_cta_url:
                  type:
                    - string
                    - 'null'
                  description: >-
                    A URL that the call-to-action button links to instead of the
                    default checkout flow.
                custom_statement_descriptor:
                  type:
                    - string
                    - 'null'
                  description: >-
                    A custom text label that appears on the customer's bank
                    statement. Must be 5-22 characters, contain at least one
                    letter, and not contain <, >, \, ', or " characters.
                description:
                  type:
                    - string
                    - 'null'
                  description: >-
                    A written description of the product displayed on its
                    product page.
                gallery_images:
                  type:
                    - array
                    - 'null'
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The ID of an existing file object.
                    required:
                      - id
                    description: Input for an attachment
                    title: FileInputWithId
                  description: The gallery images for the product.
                global_affiliate_percentage:
                  type:
                    - number
                    - 'null'
                  description: >-
                    The commission rate as a percentage that affiliates earn
                    through the global affiliate program.
                  example: 6.9
                global_affiliate_status:
                  oneOf:
                    - $ref: '#/components/schemas/GlobalAffiliateStatuses'
                    - type: 'null'
                  description: >-
                    The enrollment status of this product in the global
                    affiliate program.
                headline:
                  type:
                    - string
                    - 'null'
                  description: >-
                    A short marketing headline displayed prominently on the
                    product page.
                member_affiliate_percentage:
                  type:
                    - number
                    - 'null'
                  description: >-
                    The commission rate as a percentage that members earn
                    through the member affiliate program.
                  example: 6.9
                member_affiliate_status:
                  oneOf:
                    - $ref: '#/components/schemas/GlobalAffiliateStatuses'
                    - type: 'null'
                  description: >-
                    The enrollment status of this product in the member
                    affiliate program.
                product_tax_code_id:
                  type:
                    - string
                    - 'null'
                  description: >-
                    The unique identifier of the tax classification code to
                    apply to this product.
                  example: ptc_xxxxxxxxxxxxxx
                redirect_purchase_url:
                  type:
                    - string
                    - 'null'
                  description: >-
                    A URL to redirect the customer to after completing a
                    purchase.
                route:
                  type:
                    - string
                    - 'null'
                  description: The URL slug for the product's public link.
                send_welcome_message:
                  type:
                    - boolean
                    - 'null'
                  description: >-
                    Whether to send an automated welcome message via support
                    chat when a user joins this product.
                store_page_config:
                  type:
                    - object
                    - 'null'
                  properties:
                    custom_cta:
                      type:
                        - string
                        - 'null'
                      description: Custom call-to-action text for the product's store page.
                    show_price:
                      type:
                        - boolean
                        - 'null'
                      description: >-
                        Whether or not to show the price on the product's store
                        page.
                  required: []
                  description: >-
                    Layout and display configuration for this product on the
                    company's store page.
                title:
                  type:
                    - string
                    - 'null'
                  description: The display name of the product. Maximum 80 characters.
                visibility:
                  oneOf:
                    - $ref: '#/components/schemas/Visibility'
                    - type: 'null'
                  description: >-
                    Whether the product is visible to customers. When set to
                    hidden, the product is only accessible via direct link.
              required: []
              description: Parameters for UpdateAccessPass
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Whop from '@whop/sdk';

            const client = new Whop({
              apiKey: process.env['WHOP_API_KEY'], // This is the default and can be omitted
            });

            const product = await client.products.update('prod_xxxxxxxxxxxxx');

            console.log(product.id);
        - lang: Python
          source: |-
            import os
            from whop_sdk import Whop

            client = Whop(
                api_key=os.environ.get("WHOP_API_KEY"),  # This is the default and can be omitted
            )
            product = client.products.update(
                id="prod_xxxxxxxxxxxxx",
            )
            print(product.id)
        - lang: Ruby
          source: |-
            require "whop_sdk"

            whop = WhopSDK::Client.new(api_key: "My API Key")

            product = whop.products.update("prod_xxxxxxxxxxxxx")

            puts(product)
    delete:
      tags:
        - Products
      operationId: deleteProduct
      summary: Delete product
      description: |-
        Permanently delete a product and remove it from the company's catalog.

        Required permissions:
         - `access_pass:delete`
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier of the product to delete.
          schema:
            type: string
            example: prod_xxxxxxxxxxxxx
      x-group-title: Payins
      security:
        - bearerAuth:
            - access_pass:delete
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                type: boolean
                description: Represents `true` or `false` values.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: invalid_request_error
                  code: parameter_invalid
                  message: Invalid request parameters.
                  param: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: unauthorized
                  message: Invalid or missing API key
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: forbidden
                  message: You do not have permission to access this resource
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: not_found
                  message: Resource not found
        '422':
          description: Verification required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: verification_required
                  message: Verification is required to complete this request
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: internal_server_error
                  message: An unexpected error occurred
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Whop from '@whop/sdk';

            const client = new Whop({
              apiKey: process.env['WHOP_API_KEY'], // This is the default and can be omitted
            });

            const product = await client.products.delete('prod_xxxxxxxxxxxxx');

            console.log(product);
        - lang: Python
          source: |-
            import os
            from whop_sdk import Whop

            client = Whop(
                api_key=os.environ.get("WHOP_API_KEY"),  # This is the default and can be omitted
            )
            product = client.products.delete(
                "prod_xxxxxxxxxxxxx",
            )
            print(product)
        - lang: Ruby
          source: |-
            require "whop_sdk"

            whop = WhopSDK::Client.new(api_key: "My API Key")

            product = whop.products.delete("prod_xxxxxxxxxxxxx")

            puts(product)
  /plans:
    get:
      tags:
        - Plans
      operationId: listPlan
      summary: List plans
      description: >-
        Returns a paginated list of plans belonging to a company, with optional
        filtering by visibility, type, release method, and product.


        Required permissions:
         - `plan:basic:read`
      parameters:
        - name: after
          in: query
          required: false
          schema:
            type:
              - string
              - 'null'
            description: >-
              Returns the elements in the list that come after the specified
              cursor.
          explode: true
          style: form
        - name: before
          in: query
          required: false
          schema:
            type:
              - string
              - 'null'
            description: >-
              Returns the elements in the list that come before the specified
              cursor.
          explode: true
          style: form
        - name: first
          in: query
          required: false
          schema:
            type:
              - integer
              - 'null'
            description: Returns the first _n_ elements from the list.
            example: 42
          explode: true
          style: form
        - name: last
          in: query
          required: false
          schema:
            type:
              - integer
              - 'null'
            description: Returns the last _n_ elements from the list.
            example: 42
          explode: true
          style: form
        - name: company_id
          in: query
          required: true
          schema:
            type: string
            description: The unique identifier of the company to list plans for.
            example: biz_xxxxxxxxxxxxxx
          explode: true
          style: form
        - name: direction
          in: query
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/Direction'
              - type: 'null'
            description: The sort direction for results. Defaults to descending.
          explode: true
          style: form
        - name: order
          in: query
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/PlansOrder'
              - type: 'null'
            description: The field to sort results by. Defaults to created_at.
          explode: true
          style: form
        - name: release_methods
          in: query
          required: false
          schema:
            type:
              - array
              - 'null'
            items:
              $ref: '#/components/schemas/ReleaseMethod'
            description: Filter to only plans matching these release methods.
          explode: true
          style: form
        - name: visibilities
          in: query
          required: false
          schema:
            type:
              - array
              - 'null'
            items:
              $ref: '#/components/schemas/VisibilityFilter'
            description: Filter to only plans matching these visibility states.
          explode: true
          style: form
        - name: plan_types
          in: query
          required: false
          schema:
            type:
              - array
              - 'null'
            items:
              $ref: '#/components/schemas/PlanTypes'
            description: Filter to only plans matching these billing types.
          explode: true
          style: form
        - name: product_ids
          in: query
          required: false
          schema:
            type:
              - array
              - 'null'
            items:
              type: string
              description: >-
                Represents a unique identifier that is Base64 obfuscated. It is
                often used to refetch an object or as key for a cache. The ID
                type appears in a JSON response as a String; however, it is not
                intended to be human-readable. When expected as an input type,
                any string (such as `"VXNlci0xMA=="`) or integer (such as `4`)
                input value will be accepted as an ID.
            description: Filter to only plans belonging to these product identifiers.
          explode: true
          style: form
        - name: created_before
          in: query
          required: false
          schema:
            type:
              - string
              - 'null'
            format: date-time
            description: Only return plans created before this timestamp.
            example: '2023-12-01T05:00:00.401Z'
          explode: true
          style: form
        - name: created_after
          in: query
          required: false
          schema:
            type:
              - string
              - 'null'
            format: date-time
            description: Only return plans created after this timestamp.
            example: '2023-12-01T05:00:00.401Z'
          explode: true
          style: form
      x-group-title: Payins
      security:
        - bearerAuth:
            - plan:basic:read
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlanListItem'
                    description: A list of nodes.
                  page_info:
                    $ref: '#/components/schemas/PageInfo'
                    description: Information to aid in pagination.
                required:
                  - data
                  - page_info
                description: The connection type for PublicPlan.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: invalid_request_error
                  code: parameter_invalid
                  message: Invalid request parameters.
                  param: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: unauthorized
                  message: Invalid or missing API key
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: forbidden
                  message: You do not have permission to access this resource
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: not_found
                  message: Resource not found
        '422':
          description: Verification required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: verification_required
                  message: Verification is required to complete this request
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: internal_server_error
                  message: An unexpected error occurred
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import Whop from '@whop/sdk';


            const client = new Whop({
              apiKey: process.env['WHOP_API_KEY'], // This is the default and can be omitted
            });


            // Automatically fetches more pages as needed.

            for await (const planListResponse of client.plans.list({ company_id:
            'biz_xxxxxxxxxxxxxx' })) {
              console.log(planListResponse.id);
            }
        - lang: Python
          source: |-
            import os
            from whop_sdk import Whop

            client = Whop(
                api_key=os.environ.get("WHOP_API_KEY"),  # This is the default and can be omitted
            )
            page = client.plans.list(
                company_id="biz_xxxxxxxxxxxxxx",
            )
            page = page.data[0]
            print(page.id)
        - lang: Ruby
          source: |-
            require "whop_sdk"

            whop = WhopSDK::Client.new(api_key: "My API Key")

            page = whop.plans.list(company_id: "biz_xxxxxxxxxxxxxx")

            puts(page)
    post:
      tags:
        - Plans
      operationId: createPlan
      summary: Create plan
      description: >-
        Create a new pricing plan for a product. The plan defines the billing
        interval, price, and availability for customers.


        Required permissions:
         - `plan:create`
         - `access_pass:basic:read`
         - `plan:basic:read`
      parameters: []
      x-group-title: Payins
      security:
        - bearerAuth:
            - plan:create
            - access_pass:basic:read
            - plan:basic:read
      responses:
        '200':
          description: A successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plan'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: invalid_request_error
                  code: parameter_invalid
                  message: Invalid request parameters.
                  param: null
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: unauthorized
                  message: Invalid or missing API key
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: forbidden
                  message: You do not have permission to access this resource
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: not_found
                  message: Resource not found
        '422':
          description: Verification required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: verification_required
                  message: Verification is required to complete this request
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      type:
                        type: string
                      message:
                        type: string
                      code:
                        type:
                          - string
                          - 'null'
                        description: >-
                          A short string indicating the specific error code,
                          e.g. 'parameter_missing', 'parameter_invalid',
                          'invalid_json'
                      param:
                        type:
                          - string
                          - 'null'
                        description: The parameter that caused the error, if applicable
                    required:
                      - type
                      - message
                required:
                  - error
              example:
                error:
                  type: internal_server_error
                  message: An unexpected error occurred
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                adaptive_pricing_enabled:
                  type:
                    - boolean
                    - 'null'
                  description: >-
                    Whether this plan accepts local currency payments via
                    adaptive pricing.
                billing_period:
                  type:
                    - integer
                    - 'null'
                  description: >-
                    The number of days between recurring charges. For example,
                    30 for monthly or 365 for yearly.
                  example: 42
                company_id:
                  type: string
                  description: >-
                    The unique identifier of the company to create this plan
                    for.
                  example: biz_xxxxxxxxxxxxxx
                currency:
                  oneOf:
                    - $ref: '#/components/schemas/Currencies'
                    - type: 'null'
                  description: >-
                    The three-letter ISO currency code for the plan's pricing.
                    Defaults to USD.
                custom_fields:
                  type:
                    - array
                    - 'null'
                  items:
                    type: object
                    properties:
                      field_type:
                        $ref: '#/components/schemas/CustomFieldTypes'
                        description: The type of the custom field.
                      id:
                        type:
                          - string
                          - 'null'
                        description: The ID of the custom field (if being updated)
                      name:
                        type: string
                        description: The name of the custom field.
                      order:
                        type:
                          - integer
                          - 'null'
                        description: The order of the field.
                        example: 42
                      placeholder:
                        type:
                          - string
                          - 'null'
                        description: The placeholder value of the field.
                      required:
                        type:
                          - boolean
                          - 'null'
                        description: Whether or not the field is required.
                    required:
                      - field_type
                      - name
                  description: >-
                    An array of custom field definitions to collect from
                    customers at checkout.
                description:
                  type:
                    - string
                    - 'null'
                  description: >-
                    A text description of the plan displayed to customers on the
                    product page.
                expiration_days:
                  type:
                    - integer
                    - 'null'
                  description: >-
                    The number of days until the membership expires and access
                    is revoked. Used for expiration-based plans.
                  example: 42
                image:
                  type:
                    - object
                    - 'null'
                  properties:
                    id:
                      type: string
                      description: The ID of an existing file object.
                  required:
                    - id
                  description: >-
                    An image displayed on the product page to represent this
                    plan.
                  title: FileInputWithId
                initial_price:
                  type:
                    - number
                    - 'null'
                  description: >-
                    The amount charged on the first purchase. For one-time
                    plans, this is the full price. For recurring plans, this is
                    an additional charge on top of the renewal price. Provided
                    in the plan's currency (e.g., 10.43 for $10.43).
                  example: 6.9
                internal_notes:
                  type:
                    - string
                    - 'null'
                  description: >-
                    Private notes visible only to the business owner. Not shown
                    to customers.
                legacy_payment_method_controls:
                  type:
                    - boolean
                    - 'null'
                  description: Whether this plan uses legacy payment method controls.
                override_tax_type:
                  oneOf:
                    - $ref: '#/components/schemas/TaxTypes'
                    - type: 'null'
                  description: >-
                    Override the default tax classification for this specific
                    plan.
                payment_method_configuration:
                  type:
                    - object
                    - 'null'
                  properties:
                    disabled:
                      type: array
                      items:
                        $ref: '#/components/schemas/PaymentMethodTypes'
                      description: >-
                        An array of payment method identifiers that are
                        explicitly disabled. Only applies if the
                        include_platform_defaults is true.
                    enabled:
                      type: array
                      items:
                        $ref: '#/components/schemas/PaymentMethodTypes'
                      description: >-
                        An array of payment method identifiers that are
                        explicitly enabled. This means these payment methods
                        will be shown on checkout. Example use case is to only
                        enable a specific payment method like cashapp, or
                        extending the platform defaults with additional methods.
                    include_platform_defaults:
                      type:
                        - boolean
                        - 'null'
                      description: >-
                        Whether Whop's platform default payment method
                        enablement settings are included in this configuration.
                        The full list of default payment methods can be found in
                        the documentation at docs.whop.com/payments.
                  required:
                    - disabled
                    - enabled
                  description: >-
                    Explicit payment method configuration for the plan. When not
                    provided, the company's defaults apply.
                plan_type:
                  oneOf:
                    - $ref: '#/components/schemas/PlanTypes'
                    - type: 'null'
                  description: The billing type of the plan, such as one_time or recurring.
                product_id:
                  type: string
                  description: The unique identifier of the product to attach this plan to.
                  example: prod_xxxxxxxxxxxxx
                release_method:
                  oneOf:
                    - $ref: '#/components/schemas/ReleaseMethod'
                    - type: 'null'
                  description: >-
                    The method used to sell this plan (e.g., buy_now, waitlist,
                    application).
                renewal_price:
                  type:
                    - number
                    - 'null'
                  description: >-
                    The amount charged each billing period for recurring plans.
                    Provided in the plan's currency (e.g., 10.43 for $10.43).
                  example: 6.9
                split_pay_required_payments:
                  type:
                    - integer
                    - 'null'
                  description: >-
                    The number of installment payments required before the
[...]
